body {margin: 0px;}

#cart_body {
    background-color: rgb(195, 195, 195);
    width: 70%;
    margin: auto;
    padding: 20px 20px;
    border-radius: 20px;
    min-width: 900px;
    display: grid;
    grid-template-columns: 80% 18%;
    grid-gap: 20px;
}
#item_table {
    width: 100%;
    border-collapse: collapse;
}
#item_table tr th{
    padding: 0px 20px;
    background-color: rgb(42, 87, 154);
}
#item_table tr td{
    padding: 10px 10px;
    font-size: 20px;
}
#balance_table{
    border-style: outset;
    background-color: black;
    width: 100%;
    text-align: center;
}
#balance_table tr th{
    padding: 10px 20px;
    color: white;
    
}
#balance_table tr td{
    padding: 10px 10px;
    color: white;
}
#subtotol_table{
    width: 100%;
    text-align: left;
}
#shipping_table tr td{
    font-size: 20px;
}
#checkout {
    border-radius: 10px;
    background-color: rgb(234, 116, 73);
    color: white;
}
input[type=number] {
    text-align: right;
    width: 50px;
}
.item_total_price input[type=text]{
    width: 50px;
    border: none;
    border-color: transparent;
}
#subtotol_table tr td input[type=text]:read-only{
    width: 50px;
    border: none transparent;
    background-color: black;
    color: white;
    text-align: left;
}