body {
    margin: 0px;
}

.introductionbackground {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introductioncard {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
    background-color: rgb(245, 245, 245);
    opacity: 0.9;
    border-radius: 40px;
    width: 500px;
    height: 300px;
    text-align: center;
}

.randomproductdisplay {
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.productitems {
    margin-right: 20px;
    text-align: center;
}

input {
    border-radius: 20px;
}

.productsbox {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: rgb(223, 223, 223);



}